<tr id="<%= dom_id concert %>">
  <td><%= concert.event_name %></td>
  <td><%= concert.time %></td>
  <td><%= concert.repeat %></td>
  <td>
    <p>
      <%= link_to "Show this concert", concert %>
    </p>
  </td>
</tr>